<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор ИП</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css' integrity='sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ==' crossorigin='anonymous'/>
</head>
<body>
    <div class="columns is-multiline ml-2 mt-1" id="calc">
        <div class="column is-full">
            <h1 class="title">
                Калькулятор ИП
            </h1>
            <span class="subtitle">
                Калькулятор для ИП на УСН Доходы без сотрудников и не платящих торговый сбор.
            </span>
        </div>
        <!-- Основное -->
        <div class="column is-one-fifth">
            <div class="field">
                <label class="label" for="percent">Ставка, %</label>
                <div class="control">
                    <input id="percent" type="number" min="1" max="100" class="input" v-model="percent">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button" @click="evenlyContribs()">Распределить взносы равномерно поквартально</button>
                </div>
            </div>
        </div>
        <div class="column is-one-fifth">
            <div class="field">
                <label class="label" for="contribs">Взносы за год, руб.</label>
                <div class="control">
                    <input type="number" id="contribs" min="1" class="input" v-model="contribs">
                </div>
            </div>
        </div>
        <!-- Данные -->
        <div class="column is-full">
            <table class="table is-bordered is-striped is-hoverable">
                <thead>
                    <tr>
                        <th colspan="3">Данные</th>
                    </tr>
                    <tr>
                        <th>Период</th>
                        <th>Доходы, руб.</th>
                        <th>Взносы, руб.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1 квартал</td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqIncome" v-model="firstQuarter.income" class="input">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqContrib" v-model="firstQuarter.contrib" class="input">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2 квартал</td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqIncome" v-model="secondQuarter.income" class="input">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqContrib" v-model="secondQuarter.contrib" class="input">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3 квартал</td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqIncome" v-model="thirdQuarter.income" class="input">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqContrib" v-model="thirdQuarter.contrib" class="input">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4 квартал</td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqIncome" v-model="fourthQuarter.income" class="input">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="field">
                                <div class="control">
                                    <input type="number" min="0" id="fqContrib" v-model="fourthQuarter.contrib" class="input">
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Расчёт -->
        <div class="column is-full">
            <table class="table is-bordered is-striped is-hoverable">
                <thead>
                    <tr>
                        <th colspan="5">Расчёт</th>
                    </tr>
                    <tr>
                        <th>Период</th>
                        <th>Доходы, руб.</th>
                        <th>Взносы, руб.</th>
                        <th>Налог, руб.</th>
                        <th>К оплате, руб.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>3 месяца</td>
                        <td>{{formatNumber(threeMonths.income)}}</td>
                        <td>{{formatNumber(threeMonths.contrib)}}</td>
                        <td>{{formatNumber(threeMonths.tax)}}</td>
                        <td>{{formatNumber(threeMonths.payment)}}</td>
                    </tr>
                    <tr>
                        <td>6 месяцев</td>
                        <td>{{formatNumber(sixMonths.income)}}</td>
                        <td>{{formatNumber(sixMonths.contrib)}}</td>
                        <td>{{formatNumber(sixMonths.tax)}}</td>
                        <td>{{formatNumber(sixMonths.payment)}}</td>
                    </tr>
                    <tr>
                        <td>9 месяцев</td>
                        <td>{{formatNumber(nineMonths.income)}}</td>
                        <td>{{formatNumber(nineMonths.contrib)}}</td>
                        <td>{{formatNumber(nineMonths.tax)}}</td>
                        <td>{{formatNumber(nineMonths.payment)}}</td>
                    </tr>
                    <tr>
                        <td>Год</td>
                        <td>{{formatNumber(year.income)}}</td>
                        <td>{{formatNumber(year.contrib)}}</td>
                        <td>{{formatNumber(year.tax)}}</td>
                        <td>{{formatNumber(year.payment)}}</td>
                    </tr>
                    <tr>
                        <th colspan="3">Доход свыше 300 тыс. руб.</th>
                        <td colspan="2">{{formatNumber(incomeAbove)}}</td>
                    </tr>
                    <tr>
                        <th colspan="3">1% с дохода свыше 300 тыс. руб.</th>
                        <td colspan="2">{{formatNumber(onePercentAbove)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js' integrity='sha512-Wbf9QOX8TxnLykSrNGmAc5mDntbpyXjOw9zgnKql3DgQ7Iyr5TCSPWpvpwDuo+jikYoSNMD9tRRH854VfPpL9A==' crossorigin='anonymous'></script>
    <script src="./calc.js"></script>
</body>
</html>
